@import "variables";

.test {
  border: 1px solid var(--color-red);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-brand-blue);
}

button,
a,
input,
select,
textarea {
  &:focus {
    outline: 2px solid #009ef0;
  }
}

h1 {
  font-size: 2rem;
  line-height: 2.375rem;
  font-weight: 300;

  @media (min-width: $screen-lg) {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

h2 {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.list {
  .list-item {
    position: relative;
    padding-left: 1.25rem;
    font-size: 0.875rem;
    line-height: 2rem;
    font-weight: 400;
    display: flex;
    align-items: center;

    &::before {
      content: "•";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.5rem;
      color: var(--color-brand-green);
    }

    @media (min-width: $screen-lg) {
      font-size: 1rem;

      &::before {
        font-size: 2rem;
      }
    }
  }
}

.alert-card {
  padding: 1rem 2.5rem;
  text-align: center;

  p {
    font-size: 0.875rem;
    line-height: 1.3rem;
    font-weight: 400;
  }

  @media (min-width: $screen-lg) {
    padding: 1rem 1.25rem;
    border-radius: 0.25rem;
    margin: 0 0;
  }
}

.form-section {
  padding: 1rem 1.25rem;

  h2 {
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: var(--color-text-description);
    padding-bottom: 1.25rem;
    
    @media (min-width: $screen-lg) {
      padding: 0;
    }
  }

  @media (min-width: $screen-lg) {
    padding: 2rem 3.75rem 1rem 1.5rem;
    margin: 0;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  width: 100%;
  max-width: 100%;
}

.button {
  font-size: 0.875rem;
  line-height: 0.875rem;
  padding: 1rem 1.75rem;
  border-radius: 0.25rem;
  font-weight: 700;

  &-outline {
    color: var(--color-brand-blue-ui);
    border: 1px solid var(--color-brand-blue-ui);
  }

  &-primary {
    background-color: var(--color-brand-blue-ui);
    padding: 1.25rem 3.25rem;
    color: var(--color-brand-white);
  }

  &:disabled {
    color: var(--color-text-description);
  }
}
