@use 'variables';
@use '@fontsource/roboto';

.test {
    border: 1px solid var(--color-red);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button, a, input, select, textarea {
  &:focus {
    outline: 2px solid #009ef0; 
  }
}